<h2 mat-dialog-title>Brukerveiledning for Moki</h2>
<mat-dialog-content class="mat-typography">
  <h3>Slik bruker du Moki</h3>
  <p>I Moki kan du gjøre oppslag på URN eller DokID for å se status på objekter i produksjonsløypen.</p>

  <p>
    For bøker kan du søke både med og uten digibok_-prefiksen.
    For eksempel vil begge disse søkene gi samme resultat: digibok_2010010400001 og 2010010400001.
  </p>

  <p>
    For batch-oppslag brukes linjeskift for å skille mellom ulike IDer.
    Bruk <span class="shortcut">ctrl+Enter</span> for å søke mens markøren er i tekstfeltet, eller trykk på Søk-knappen.
  </p>

  <p>
    Bøker er klare dersom de er sendt til bevaring, og indikeres med en tommel opp.
    Tidsskriftpermer vises som klare dersom alle heftene er er sendt til bevaring.
    Om en bok eller et tidsskrift ikke er klar vises en tommel ned.
    Objekter som verken er bøker eller tidsskrift viser ikke noen indikasjon på om de er klare.
  </p>

  <p>
    For mer detaljert info om et objekt kan du klikke på det i listen og få utvidet informasjon om hendelser og status.
  </p>

  <h3>Videre hjelp</h3>
  <p>Denne applikasjonen vedlikeholdes av Tekstteamet, ta kontakt ved behov.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Lukk</button>
</mat-dialog-actions>
