<style>
  main {
    width: 100%;
    min-height: 100%;
  }

  .title {
    font-family: 'Ledger', serif;
    font-size: 32px;
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .content {
    display: flex;
    justify-content: center;
    width: 100%;
  }
</style>

<main class="main mat-app-background">
  <mat-toolbar>
    <span class="title">Moki</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button matTooltip="Hjelp" (click)="openDialog()">
      <mat-icon color="primary">help</mat-icon>
    </button>
  </mat-toolbar>
  <div class="content">
    <router-outlet />
  </div>
</main>


