.card-container {
  width: 80vw;
  margin: 1em auto;
}

.search-form-field {
  width: 50%;
}

.search-buttons {
  margin-left: 1em;
}

.not-found {
  background-color: #ffcccc;
  color: red;
  padding: 1em;
  border: 1px solid red;
  border-radius: 5px;
}

.centered-cell {
  text-align: center;
}

tr.detail-row {
  height: 0;
}

.table-row-expandable:hover {
  cursor: pointer;
  background: whitesmoke
}

.table-row-expandable td {
  border-bottom-width: 0;
}

.expanded-row-content {
  overflow: hidden;
  display: flex;
}

.table-row-selected {
  background-color: whitesmoke;
}
