.card-container {
  width: 80vw;
  margin: 1em auto;
}

.search-form-field {
  width: 50%;
}

.table-row-expandable {
  cursor: pointer;
  &:hover {
    background-color: rgb(223, 223, 223);
  }
}

.search-buttons {
  margin-left: 1em;
}

.not-found {
  background-color: #ffcccc;
  color: red;
  padding: 1em;
  border: 1px solid red;
  border-radius: 5px;
}

.centered-cell {
  text-align: center;
}
