<table mat-table [dataSource]="eventsDataSource" class="details-table mat-elevation-z8">
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element" [matTooltip]="element.status">
      @if (element.status?.toLowerCase() === 'done') {
        <mat-icon color="primary">done</mat-icon>
      } @else if (element.status?.toLowerCase() === 'failed') {
        <mat-icon color="warn">clear</mat-icon>
      } @else {
        <mat-icon>hourglass_empty</mat-icon>
      }
    </td>
  </ng-container>
  <ng-container matColumnDef="statusText">
    <th mat-header-cell *matHeaderCellDef> Melding </th>
    <td mat-cell *matCellDef="let element">
      @if (element.status === 'failed') {
        {{element.statusText}}
      }
    </td>
  </ng-container>
  <ng-container matColumnDef="started">
    <th mat-header-cell *matHeaderCellDef> Startet </th>
    <td mat-cell *matCellDef="let element"> {{element.started | date:'YYYY-MM-dd HH:mm'}} </td>
  </ng-container>
  <ng-container matColumnDef="startedBy">
    <th mat-header-cell *matHeaderCellDef> Startet av </th>
    <td mat-cell *matCellDef="let element"> {{element.startedBy}} </td>
  </ng-container>
  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef> Fullført </th>
    <td mat-cell *matCellDef="let element"> {{element.completed | date:'YYYY-MM-dd HH:mm'}} </td>
  </ng-container>
  <ng-container matColumnDef="completedBy">
    <th mat-header-cell *matHeaderCellDef> Fullført av </th>
    <td mat-cell *matCellDef="let element"> {{element.completedBy}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="eventColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: eventColumns;"
  ></tr>
</table>
